html {
background: rgb(255,255,255) -o-linear-gradient(rgb(212,212,212),rgb(255,255,255)) repeat-x;
}

body {
  font-size: 13px;
  font-family: Verdana, Tahoma, Arial, Helvetica, geneva, sans-serif;
  color: #1e3853;
  max-width: 700px;
  overflow-x: hidden;
  margin: 20px auto;
  border: 1px solid rgba(255,255,255,0.33);
  border-radius: 5px;
  box-shadow: 0 0 10px #98b0c9;
  background: rgba(255,255,255,0.5) -o-linear-gradient(rgba(255,255,255,0.5),rgba(212,212,212,0.5)) repeat-x;
}

header {
  display: block;
  text-align: center;
  padding: 45px 50px 15px 50px;
  margin: 0 50px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px #fff;
}

section {
  display: block;
  padding: 0 50px;
}

footer {
  display: block;
  text-align: center;
  padding: 0 50px;
  margin: 50px 50px 0 50px;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px rgba(0,0,0,0.15);
}

h1 {
  margin: 0;
  font-size: 24px;
}

h2 {
  margin-top: -3px;
  font-weight: normal;
  font-size: 16px;
}

h3 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 18px;
}

fieldset {
  border: none;
  background: rgba(150,160,200,0.2);
  border-radius: 5px;
  padding: 10px 20px;
}

fieldset label, fieldset legend {
  margin-left: 0px;
  font-size: 16px;
}

#indent_size input[type=radio] {
  margin-right: 0px !important;
  font-size: 16px;
}

fieldset *:disabled {
  opacity: 0.5;
}


fieldset button {
  border-radius: 3px;
  border: 1px solid rgba(80,80,130,0.5);
  background: rgba(173,181,217,0.75) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAeCAYAAAAGos%2FEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89%2BbN%2FrXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz%2FSMBAPh%2BPDwrIsAHvgABeNMLCADATZvAMByH%2Fw%2FqQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf%2BbTAICd%2BJl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA%2Fg88wAAKCRFRHgg%2FP9eM4Ors7ONo62Dl8t6r8G%2FyJiYuP%2B5c%2BrcEAAAOF0ftH%2BLC%2BzGoA7BoBt%2FqIl7gRoXgugdfeLZrIPQLUAoOnaV%2FNw%2BH48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl%2FAV%2F1s%2BX48%2FPf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H%2FLcL%2F%2Fwd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s%2BwM%2B3zUAsGo%2BAXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93%2F%2B8%2F%2FUegJQCAZkmScQAAXkQkLlTKsz%2FHCAAARKCBKrBBG%2FTBGCzABhzBBdzBC%2FxgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD%2FphCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8%2BQ8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8%2BxdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR%2BcQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI%2BksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG%2BQh8lsKnWJAcaT4U%2BIoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr%2Bh0uhHdlR5Ol9BX0svpR%2BiX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK%2BYTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI%2BpXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q%2FpH5Z%2FYkGWcNMw09DpFGgsV%2FjvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY%2FR27iz2qqaE5QzNKM1ezUvOUZj8H45hx%2BJx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4%2FOBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up%2B6Ynr5egJ5Mb6feeb3n%2Bhx9L%2F1U%2FW36p%2FVHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm%2Beb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw%2B6TvZN9un2N%2FT0HDYfZDqsdWh1%2Bc7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc%2BLpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26%2FuNu5p7ofcn8w0nymeWTNz0MPIQ%2BBR5dE%2FC5%2BVMGvfrH5PQ0%2BBZ7XnIy9jL5FXrdewt6V3qvdh7xc%2B9j5yn%2BM%2B4zw33jLeWV%2FMN8C3yLfLT8Nvnl%2BF30N%2FI%2F9k%2F3r%2F0QCngCUBZwOJgUGBWwL7%2BHp8Ib%2BOPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo%2Bqi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt%2F87fOH4p3iC%2BN7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi%2FRNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z%2Bpn5mZ2y6xlhbL%2BxW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a%2FzYnKOZarnivN7cyzytuQN5zvn%2F%2FtEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1%2B1dT1gvWd%2B1YfqGnRs%2BFYmKrhTbF5cVf9go3HjlG4dvyr%2BZ3JS0qavEuWTPZtJm6ebeLZ5bDpaql%2BaXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO%2FPLi8ZafJzs07P1SkVPRU%2BlQ27tLdtWHX%2BG7R7ht7vPY07NXbW7z3%2FT7JvttVAVVN1WbVZftJ%2B7P3P66Jqun4lvttXa1ObXHtxwPSA%2F0HIw6217nU1R3SPVRSj9Yr60cOxx%2B%2B%2Fp3vdy0NNg1VjZzG4iNwRHnk6fcJ3%2FceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w%2B0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb%2B%2B6EHTh0kX%2Fi%2Bc7vDvOXPK4dPKy2%2BUTV7hXmq86X23qdOo8%2FpPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb%2F1tWeOT3dvfN6b%2FfF9%2FXfFt1%2Bcif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v%2B3Njv3H9qwHeg89HcR%2FcGhYPP%2FpH1jw9DBY%2BZj8uGDYbrnjg%2BOTniP3L96fynQ89kzyaeF%2F6i%2FsuuFxYvfvjV69fO0ZjRoZfyl5O%2FbXyl%2FerA6xmv28bCxh6%2ByXgzMV70VvvtwXfcdx3vo98PT%2BR8IH8o%2F2j5sfVT0Kf7kxmTk%2F8EA5jz%2FGMzLdsAAAAgY0hSTQAAeiUAAICDAAD5%2FwAAgOkAAHUwAADqYAAAOpgAABdvkl%2FFRgAAADdJREFUeNpi%2Bf%2F%2FvwkDAwMDCwMDw38Y4y9uxj8Y4w8Riv8SbSAjI%2BMvmAgTbgYjEWpIUoyqBjAA3v4Smdk8p4QAAAAASUVORK5CYII%3D") 0 50% repeat-x;
  box-shadow: 0 1px 1px rgba(121,153,166,0.75), inset 0 1px rgba(255,255,255,0.25), inset 0 0 1px rgba(255,255,255,0.75);
  -o-transition: 0.25s;
  color: rgba(0,0,0,0.75);
  text-shadow: 0 1px rgba(255,255,255,0.25);
  height: 25px;
  line-height: 22px;
  padding: 0px 15px;
}

fieldset button:hover {
  background-color: #d3dbf5;
  box-shadow: 0 1px 1px rgba(121,153,166,0.75), inset 0 1px rgba(255,255,255,0.25), inset 0 0 1px rgba(255,255,255,0.75);
}

fieldset button:active {
  border-color: rgba(80,80,130,0.8);
  box-shadow: 0 1px 2px rgba(121,153,166,1), inset 1px 1px 1px rgba(121,153,166,0.5);
}

fieldset button:disabled {
  background: rgba(173,181,217,0.75);
  box-shadow: 0 1px 1px rgba(121,153,166,0.75), inset 0 1px rgba(255,255,255,0.25), inset 0 0 1px rgba(255,255,255,0.75) !important;
}

fieldset input {
  background: #fff;
  color: #1e3853;
}

fieldset input[type=text] {
  border-radius: 3px;
  border: 1px solid rgba(80,80,130,0.5);
  font: 13px/24px "helvetica neue",arial,sans-serif;
  -o-transition: 0.25s;
  height: 25px;
  line-height: 22px;
  padding: 0 5px;
}

fieldset input[type=text]:focus {
  border-color: rgba(80,80,130,0.8);
}

fieldset input[type=radio] {
margin-right: 15px;
}

fieldset input[type=checkbox], fieldset input[type=radio] {
  border-radius: 3px;
  border: 1px solid rgba(80,80,130,0.5);
  background: #fff;
  box-shadow: 0 1px 1px rgba(121,153,166,0.75), inset 0 1px rgba(255,255,255,0.25), inset 0 0 1px rgba(255,255,255,0.75);
  -o-transition: 0.25s;
  height: 20px;
  padding: 5px;
  width: 21px;
}

fieldset input[type=radio]:active, fieldset input[type=checkbox]:active {
  border-color: rgba(80,80,130,0.8);
  background-color: #d3dbf5;
}

fieldset input[type=radio]:disabled, fieldset input[type=checkbox]:disabled {
  background: #fff;
  border-color: rgba(80,80,130,0.5);
}

#label_preferences:lang(ru){content: 'Настройки';/*Preferences*/}
#widget_name:lang(ru){content: 'Читабельный JavaScript v1.1'; /*Readable JavaScript v1.1*/}
#enable_button_label:lang(ru){content: 'Кнопка на панели задач (после перезапуска браузера)'; /*Toolbar button (browser restart needed)*/}
#autoparse_js_label:lang(ru){content: 'Форматирование скриптов без подтверждения'; /*Disable confirmation popup for files (auto-parse)*/}
#indent_size_label:lang(ru){content: 'Отступы'; /*Indentation:*/}
#braces_on_own_line_label:lang(ru){content: 'Открывающие фигурные скобки с новой строки'; /*Braces on own line*/}
#preserve_newlines_label:lang(ru){content: 'Сохранять пустые строки'; /*Preserve empty lines*/}
#detect_packers_label:lang(ru){content: 'Определять упаковщик'; /*Detect packers*/}
#keep_array_indentation_label:lang(ru){content: 'Сохранять отступы у массивов'; /*Keep array indentation*/}
#enable_coloring_label:lang(ru){content: 'Подсветка синтаксиса (очень медленно)'; /*Syntax highlighting (very slow)*/}
#debug_output_label:lang(ru){content: 'Отладочная информация'; /*Debug output*/}
#footer_text:lang(ru){content: 'Сделано для браузера Opera'; /*Powered by the Opera Browser*/}
#indent_size_tab_label:lang(ru){content: 'табуляция';/*tab character*/}
#indent_size_two_label:lang(ru){content: 'два пробела';/*2 spaces*/}
#indent_size_three_label:lang(ru){content: 'три пробела';/*3 spaces*/}
#indent_size_four_label:lang(ru){content: 'четыре пробела';/*4 spaces*/}
#indent_size_eight_label:lang(ru){content: 'восемь пробелов';/*8 spaces*/}

