* { 
margin: 0 0 0 0;
padding: 0 0 0 0;
}
body {
font-size:14px;
font-family: "arial", "helvetica", sans-serif;
overflow:hidden;
padding-right:4px;
padding-top:4px;
}
fieldset{
border: none;
}
textarea { 
font-family: "consolas", "Terminus", "lucida console", "courier new", "courier", monospace;
font-size: 12px;
}
button {
background:#eee;
padding:3px 5px;
border-bottom-color:#999;
border-bottom-style:solid;
border-bottom-width:1px;
border-left-color:#ccc;
border-left-style:solid;
border-left-width:1px;
border-right-color:#999;
border-right-style:solid;
border-right-width:1px;
border-top-color:#ccc;
border-top-style:solid;
border-top-width:1px;
cursor:pointer;
margin-top:2px;
width:100%
}

#makereadable:lang(ru){content: 'Сделать читабельным';/*Make readable*/}